:root{
    --dark : #000000;
    --semidark : #191919;
    --lightdark :#333333;
    --white : #fff;
    --body : #e6e6e6;
}

a{
    text-decoration: none;
    font-weight: normal;
}

/*Homepage*/

/* Navbar */

.navbar-custom{
    background-color: var(--dark);
}
.navbar-brand ,.nav-link{
    color: var(--white) !important;
    align-items: center;
}
.navbar-brand{
    margin-left: 6%;
}
.IS{
    background-color: var(--lightdark);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
}
.navbar-nav{
    margin-right: 6%;
}
.nav-link{
    margin-left: 40px;
}
.navbar-toggler-icon{
    color: var(--white);
}
.nav-link{
    font-size: 20px;
    font-weight: 100;
}
.active, #navbarDropdown:hover{
    font-weight: 400;
    background-color: var(--lightdark);
    border-radius: 10px;
}

.brand{
    font-size: 22px;
    letter-spacing: 3px;
    display: flex !important;
    align-items: center !important;
}


/* Navbar end */

/* Jumbotron start*/

.homepage-jumbotron{
    color: var(--dark);
    background-color: var(--body);
    padding: 10px;
    width: 94%;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
}

.body-title{
    font-size: 20px;
    font-weight: normal;
    margin-top: 15px;
    margin-left: 15px;
}
.body-text{
    font-size: 18px;
    font-weight: lighter;
    margin-top: 15px;
    margin-left: 15px;
}


/* Jumbotron end*/

/* Footer start */
footer {
    margin-bottom: 0%;
    width: 100%;
}
/* Footer end */


/*Registration*/

#header{
    margin-top:30px;
    margin-bottom:30px;
}
h1{
    text-align:center;
}
div{
    margin-bottom:5px;
}
#button{
    margin-top: 20px;
    
}
